<script>
$(function() {
var h = $(window).height();

$('#wrap').css('display','none');
$('.globNav-row').css('display', 'none');
$('#loader-bg ,#loader').height(h).css('display','block');
});

$(window).on("load",function () { //全ての読み込みが完了したら実行
$('#loader-bg').delay(900).fadeOut(800);
$('#loader').delay(600).fadeOut(300);
$('.globNav-row').css('display', 'table');
$('#wrap').css('display', 'block');
});

//10秒たったら強制的にロード画面を非表示
$(function(){
setTimeout('stopload()',400);
});

function stopload(){
$('.globNav-row').css('display', 'table');
$('#wrap').css('display','block');
$('#loader-bg').delay(900).fadeOut(800);
$('#loader').delay(600).fadeOut(300);
}
</script>

 <div class="container back">
   <h1 id="explanation" >あなたとアイテムの出会いの可能性を広げる<br><br><br>ECswiftへようこそ。<br><br><br><br><br>Welcome to</h1>
   <div class="login-logo"><%= image_tag 'ecswift_logo.png',:class => "logo" %></div>
 <div class="login">
   <h1>New User</h1>

    <%= render 'form', user: @user %>
</div>
</div>
