<div class="container">
  <div class="raw">
    <%= search_form_for(@keyword, method: :get) do } |f| %>
      <%= f.label :item_cont_any %><br>
      <%= f.submit '検索する' %>
    <% end %>
  </div>
</div>
