<div class="container">
  <ul class="shoplist">
    <li><a href="#a">A</a></li>
    <li><a href="#b">B</a></li>
    <li><a href="#c">C</a></li>
    <li><a href="#d">D</a></li>
    <li><a href="#e">E</a></li>
    <li><a href="#f">F</a></li>
    <li><a href="#g">G</a></li>
    <li><a href="#h">H</a></li>
    <li><a href="#i">I</a></li>
    <li><a href="#j">J</a></li>
    <li><a href="#k">K</a></li>
    <li><a href="#l">L</a></li>
    <li><a href="#m">M</a></li>
    <li><a href="#n">N</a></li>
    <li><a href="#o">O</a></li>
    <li><a href="#p">P</a></li>
    <li><a href="#q">Q</a></li>
    <li><a href="#r">R</a></li>
    <li><a href="#s">S</a></li>
    <li><a href="#t">T</a></li>
    <li><a href="#u">U</a></li>
    <li><a href="#v">V</a></li>
    <li><a href="#w">W</a></li>
    <li><a href="#x">X</a></li>
    <li><a href="#y">Y</a></li>
    <li><a href="#z">Z</a></li>
    
    
  </ul>
  <div class="raw">
    <h1>A</h1>
      <div id="a">
        
      </div>
   </div>
   <div class="raw">
    <h1>B</h1>
      <div id="b">
        
      </div>
   </div>
   <div class="raw">
    <h1>C</h1>
      <div id="c">
        
      </div>
   </div>
   <div class="raw">
    <h1>D</h1>
      <div id="d">
        
      </div>
   </div>
   <div class="raw">
    <h1>E</h1>
      <div id="e">
        
      </div>
   </div>
   <div class="raw">
    <h1>F</h1>
      <div id="f">
        
      </div>
   </div>
   <div class="raw">
    <h1>G</h1>
      <div id="g">
        
      </div>
   </div>
   <div class="raw">
    <h1>H</h1>
      <div id="h">
        
      </div>
   </div>
   <div class="raw">
    <h1>I</h1>
      <div id="i">
        
      </div>
   </div>
   <div class="raw">
    <h1>J</h1>
      <div id="j">
        
      </div>
   </div>
   <div class="raw">
    <h1>K</h1>
      <div id="k">
        
      </div>
   </div>
   <div class="raw">
    <h1>L</h1>
      <div id="l">
        
      </div>
   </div>
   <div class="raw">
    <h1>M</h1>
      <div id="m">
        
      </div>
   </div>
   <div class="raw">
    <h1>N</h1>
      <div id="n">
        
      </div>
   </div>
   <div class="raw">
    <h1>O</h1>
      <div id="o">
        
      </div>
   </div>
   <div class="raw">
    <h1>P</h1>
      <div id="p">
        
      </div>
   </div>
   <div class="raw">
    <h1>Q</h1>
      <div id="q">
        
      </div>
   </div>
   <div class="raw">
    <h1>R</h1>
      <div id="r">
        
      </div>
   </div>
   <div class="raw">
    <h1>S</h1>
      <div id="s">
        
      </div>
   </div>
   <div class="raw">
    <h1>T</h1>
      <div id="t">
        
      </div>
   </div>
   <div class="raw">
    <h1>U</h1>
      <div id="u">
        
      </div>
   </div>
   <div class="raw">
    <h1>V</h1>
      <div id="v">
        
      </div>
   </div>
  <div class="raw">
    <h1>W</h1>
      <div id="w">
        
      </div>
   </div>
   <div class="raw">
    <h1>X</h1>
      <div id="x">
        
      </div>
   </div>
   <div class="raw">
    <h1>Y</h1>
      <div id="y">
        
      </div>
   </div>
   <div class="raw">
    <h1>Z</h1>
      <div id="z">
        
      </div>
   </div>

</div>
