body {
  margin:0;
}
.row{
  float:left;
  height: 775px;
overflow: scroll;
border: 3px solid gray;
margin-bottom: 40px;
width: 100%;
transition-timing-function:ease-out;
transition-duration: 1s;
&:hover > {
  background-color: black;
}
}
.container {
  z-index: 1;
  width: 72%;
  padding-left: 205px;
  padding-right: 16%;
  padding-top: 100px;
}
.globNav-row{
 top: 0;
 z-index: 5;
 display: table;
 width: 68%;
 background-color: #000;
 position: fixed;
 padding-left: 16%;
 padding-right: 16%;

   ul{
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
        padding-left: 30px;
        padding-right: auto;

      li{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        padding: 10px 0 10px 0;
        color: white;
        transition-timing-function:ease-out;
        transition-duration: 1s;
        width: 100px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        padding-top: 0;
        padding-bottom: 0;
      }
      a{
        font-size: 15px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        padding: 10px 0 10px 0;
        color: white;
        transition-timing-function:ease-out;
        transition-duration: 1s;
        width: 120px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    ul:last-child{

    }
}
.header-btn{
  color: #fff;
  border: 2px solid #fff;
  font-size: 10px;
  font-weight: bold;
  background-color: black;
  transition-timing-function:ease-out;
  transition-duration: 1s;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 2em;

  }
}
.search_form{
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
  width: 150px;
  height: 20px;
  border-radius: 15px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.40);
  display: inline-block;
}
.globNav-row > ul>a:hover{
  background-color:#fff;
  color: #000;
}


.main-contents{
  padding-top: 70px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0ffff;
}



.logo{
  height:50px;
}


.text-center {
  text-align: center;
}

.btn-white {
  color: #000;
  border: 1px solid #000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #000;
  }
}

.sessions-new-container{
  text-align: center;
  -ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  top: 50%;
  width: 100%;
  display: table;
  margin: 0 auto 0 auto;
  background: #fff;
  border-radius: 4px;



  font-family: 'Open Sans', sans-serif;
  font-weight: 200;

}

.legend{
  display: block;
  background: #000;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
  &:after{
    content: "";
    background-repeat: no-repeat;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

fieldset{
  margin-top: 0;
}

.form-control {
  height: 30px;
  width: 60%;
}
.form-group {
      margin-bottom: 20px;
    }

.kanri{
  th  {
    background-color: #000;
    color: #fff;
  }
}
td{
  border: 2px solid #000;
}

.mypage{
  color: black;
  padding-top: 100px;
  margin-left: 25px;;
  padding-right: -50px;
  width:170px;
  margin-right:0;
  displaystyle: block;
  float:left;
}

#mypage {
  float:left;
  margin:0;
  width:600px;
  padding:0;
  padding-top: 100px;
}


.slider-wrapper {
  width: 750px;
  padding: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  background: #CCC;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  width: 30000px;
  -webkit-overflow-scrolling: touch;
}

.slider > * {
  -webkit-transform: translateZ(0px);
}

.slider-wrapper::-webkit-scrollbar {
  display: none;
  height: 0 !important;
}

.unit {
  float: left;
  width: 200px;
  height: 250px;
  margin: 5px 2.6px 0 2.4px;
  border: 1px solid #DDDDDD;
  background: #EFEFEF;
  position:relative;
}
.unit:nth-child(6){

}

.unit img {
  text-align: center;
   width: 100%;
  height: 100%;
  border: 2px solid #0000cd;
}
unit:after {
    clear: both;
   content: " ";
   display: block;
  }

.item-info{
  background-color: #efefef;
  margin-top: 0;
}
.item-info {
      display: none;
      width: 300px;
      position: absolute;
      top: 0;
      left:180px;
      padding: 16px;
      border-radius: 5px;
      background: #33cc99;
      color: #fff;
      font-weight: bold;
      z-index:2;
    }
    .item-info:after {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      top: 0;
      margin-left: 10px;
      border: solid transparent;
      border-color: rgba(51, 204, 153, 0);
      border-top-color: #33cc99;
      border-width: 10px;
      pointer-events: none;
      content: " ";
    }
    .unit-admin:hover .item-info {
      display: block;
    }

.left-menu {
  margin-top:100px;
  float:left;
  a{
  padding: 20px;
  margin-top: 50px;
  background-color: black;
  border: 3px solid white;
  }
  br{
   font-size: 100px;
  }
}

.items-container {
  padding-top: 70px;
}


.shoplist {
  list-style: none;
  text-align: center;
  a {
    float: left;
    width: 30px;
    height: 25px;
    backgroundcolor: black;
    text-decoration: none;
    border:  solid 1px black;
  }
  a:hover {

  }
}
.shoplist:after {
    clear: both;
   content: " ";
   display: block;
  }

figure {
  margin:0;
  padding:0;
  color: white;
  width: 200px;
  height: 250px;
  text-decoration:none;
  figcaption {
    text-decoration:none;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 204px;
    height: 254px;;
    background: rgba(0,0,0,0.93);
    -webkit-transform: rotate(90deg) scale(0);
    transform: rotate(90deg) scale(0);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 1;
    overflow: scroll;
    a{
      text-docoration: none;
    }
  }
}
figure:hover figcaption {
  -webkit-transform: rotate(360deg) scale(1);
  transform: rotate(360deg) scale(1);
  opacity: 1;
}


.caption-text{
  margin-bottom: 0;
  padding-bottom: 0;
  padding: 30px 0px;
  padding-left:20px;
  text-decoration: none;
  height: 0px;
  color: white;

  p{
    text-decoration: none;
  }
  p:hover {
    text-decoration: none;
  }
  p:nth-child(1){
      font-family: curier;
      font-size: 20px;
    }

}
.red {
  color: red;
}
.clickable{
  margin-top: 0;
  display: inline-block;
  border: 2px solid white;
  padding: 4px;
  transition-duration: 0.5s;
  &:hover{
    border-radius: 2em;
  }
}

.unit-admin{
  img{
    margin-left: 60px;
    width: 80px;
    height: 110px;
  }
  margin-bottom:5px;
  height:200px;
  width: 180px;
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;

  z-index: 10000;
}
.user_admin{
  a{
   color: black;
  }
}
 .batu{
    a{
    img{
    width:12px;
    height:12px;
    float:right;
    margin-right:5px;
    }
    }
 }

input[type=checkbox]{
  display: none;
}
.check {
  width: 100px;
  color:black;
  box-sizing: border-box;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 0 0;
  font-weight: bold;
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  background-color: #f6f7f8;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover{
    background-color: white;
  }
  input[type=checkbox]:checked + &{
    background-color: black;
    color: white;
    &:hover{
      background-color: #696969;
      color: white;
    }
    }
}
.search{
  width: 1020px;
  height:200px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 3px solid black;
  border-radius: 2em;
  box-shadow: 3px 2px rgba(0, 0, 0, 0.15);
  background-color: lightgray;
}
.search-input {
  width: 350px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.15);
}
.sort{
  margin-left: 0;
  padding-left: 30px;
  a{
    margin-left: 5px;
    padding: 10px;
    border-radius: 2em;
    float: left;
    color: black;
    font-weight: bold;
    background-color: #f6f7f8;
    &:hover{
      background-color: white;
    }
    &:active{
      background-color: black;
      color: white;
    }
  }
  float: left;
}
.biggroup{
  width: 100%;
  height: 100px;
  margin-bottom: 0;
}
.group{
  margin-left: 30px;
  float: left;
}
.gender{
  margin-left: 40px;
}
.category{
  display: inline-block;
  margin-left: 110px;
  select{
    &:hover{
      background-color: white;
    }
    -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    option{
      font-weight: bold;
      height: 30px;
    }
  }
}

.color{
  display: inline-block;
  margin-left: 10px;
  select{
    &:hover{
      background-color: white;
    }
    -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    option{
      font-weight: bold;
      height: 30px;
    }
  }
}
.brand{
  display: inline-block;
  margin-left: 10px;
  select{
    &:hover{
      background-color: white;
    }
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    option{
      font-weight: bold;
      height: 30px;
    }
  }
}
.btn{
  width: 200px;
  height: 50px;
  color: #000;
  border: 2px solid #000;
  font-size: 20px;
  background-color: white;
  transition-timing-function:ease-out;
  transition-duration: 0.2s;
  margin-left: 70px;
  margin-bottom: 400px;
  cursor: pointer;

  &:hover {
    color: white;
    border: 2px solid #fff;
    border-radius: 2em;
    background-color: black;

  }
}
.bold {
  font-weight: bold;
  display: inline-block;
}
.search-row{
  height: 775px;
}
